{
    "presets": ["es2015", "react"],
    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error"]
        }],
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }],
        "add-module-exports"
    ]
}