{{!< ../../layouts/admin/default}}

{{#contentFor "page-title"}}WeblogJS Admin Login{{/contentFor}}

{{#contentFor "page-styles"}}
    {{> admin/common-styles}}
{{/contentFor}}

{{#contentFor "page-scripts"}}
    {{> admin/common-scripts}}
    <script src="/admin/assets/index.js"></script>
    <script>
        WeblogJS.showLogin();
    </script>
{{/contentFor}}

<div class="module-login-page" data-react="login-form"></div>
