@import "mixins";
@import "variables";



.link-style {
    color: $link-color;
    text-decoration: none;

    &:hover {
        @include opacity(0.7);
    }
}

/*----------------------------
 Header Footer Layout
----------------------------*/
.module-header-footer-layout {

    margin: 0 auto;
    max-width: $max-width;

    .m-hfl-header {
        padding: 130px 40px 40px;
        position: relative;
        overflow: hidden;
    }

    .m-hfl-header-link {
        font-size: 53px;
        color: $color-default-font;
        text-decoration: none;

        &:hover {
            @include opacity(0.7);
        }
    }

    .m-hfl-body {

    }

    .m-hfl-footer {
        font-size: 14px;
        padding: 40px 40px 40px;
    }
}

/*----------------------------
 Blog Layout
----------------------------*/
.module-blog-layout {
    //display: flex;
    //align-items: stretch;
    //flex-wrap: wrap;
    //flex-direction: row;

    @include media-phone {

    }

    .m-bll-main {
        width: 100%;

        @include media-phone {
            border-bottom: 0;
        }
    }

    .m-bll-sidebar {
        //display: flex;
        //flex-direction: column;
    }
}


/*----------------------------
 Section
----------------------------*/
.module-section {
    padding: 45px 40px 50px;

    &:last-child {
        border-bottom: 0;
    }

    &.m-sct-short-section {
        padding: 20px 40px;
    }
}

/*----------------------------
 Error Page
----------------------------*/
.module-error-page {
    padding: 100px 40px;
    font-size: 26px;
    background-color: $error-page-bg-color;
}

/*----------------------------
 Post List
----------------------------*/
.module-post-list {
    .m-psl-post-section {
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}

/*----------------------------
 Name And Number List
----------------------------*/
.module-name-and-number-list {
    font-family: 'Quattrocento', serif;

    .m-nan-title {
        margin-bottom: 15px;
        color: $menu-title-color;
    }

    .m-nan-list {
    }

    .m-nan-list-item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .m-nan-link {
        @extend .link-style;
        white-space: nowrap;

        &:hover {
            @include opacity(0.7);
        }
    }
}

/*----------------------------
 pagination
----------------------------*/
.module-pagination {
    .m-pgn-list {
        display: flex;
        justify-content: space-around;
    }

    .m-pgn-list-item {
        display: inline-block;
        width: 100%;
    }

    .m-pgn-prev {
        text-align: left;
    }

    .m-pgn-next {
        text-align: right;
    }

    .m-pgn-link {
        @extend .link-style;
        white-space: nowrap;
        font-size: 16px;

        &:hover {
            @include opacity(0.7);
        }
    }
}

/*----------------------------
 Post
----------------------------*/
.module-post {
    font-family: 'Quattrocento', serif;

    .m-pst-title {
        font-size: 36px;
        margin-bottom: 44px;
    }

    .m-pst-link {
        @extend .link-style;
    }

    .m-pst-content {
        margin-bottom: 40px;
    }

    .m-pst-date,
    .m-pst-author,
    .m-pst-category,
    .m-pst-tag-container{
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
    }

    .m-pst-tags {
        display: inline-block;
    }

    .m-pst-tag {
        display: inline-block;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }

    .m-pst-author-link,
    .m-pst-category-link,
    .m-pst-tag-link {
        @extend .link-style;
    }

}

/*----------------------------
 Article
----------------------------*/
.module-article {
    font-size: 18px;
    line-height: 1.5em;

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 24px;
    }

    h5,
    h6 {
        font-size: 20px;
    }

    a {
        @extend .link-style;
    }

}