{{!< ../../layouts/public/default}}

{{#contentFor "page-title"}}WeblogJS Blog{{/contentFor}}

<div class="module-blog-layout">
    <div class="m-bll-main">
        {{> public/post-list postList}}
    </div>
    <aside class="m-bll-sidebar">
        {{> public/category-list categoryList}}
    </aside>
</div>
