{{!< ../../layouts/public/default}}

{{#contentFor "page-title"}}{{{blog.title}}}{{/contentFor}}
{{#contentFor "title"}}{{{blog.title}}}{{/contentFor}}
{{#contentFor "footer"}}&copy;{{{blog.title}}}{{/contentFor}}

<div class="module-blog-layout">
    <div class="m-bll-main">
        {{> public/pagination pagination}}
        {{> public/post-list postList}}
        {{> public/pagination pagination}}
    </div>
    <aside class="m-bll-sidebar">
        {{> public/category-list categoryList}}
    </aside>
</div>
