{{!< ../../layouts/public/default}}

<div class="module-blog-layout">
    <div class="m-bll-main">
        {{#if postList.length}}
            {{#each postList}}
                <section class="m-bll-section">
                    {{> public/post this}}
                </section>
            {{/each}}
        {{else}}
            <section class="m-bll-section">
                No posts to show.
            </section>
        {{/if}}
        {{#if pagination.needPagination}}
            <section class="m-bll-section m-bll-short-section">
                {{> public/pagination pagination}}
            </section>
        {{/if}}
    </div>
    <aside class="m-bll-sidebar">
        {{#if categoryList.length}}
            <section class="m-bll-section">
                {{> public/category-list categoryList}}
            </section>
        {{/if}}
    </aside>
</div>
