<div class="module-category-list">
    <ul class="m-ctl-list">
        {{#each this}}
            <li class="m-ctl-list-item">
                <a class="m-ctl-link" href="{{link}}">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>