/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, menu {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*----------------------------
 Font Base
----------------------------*/
/*----------------------------
 Media Query
----------------------------*/
/*----------------------------
 Headers
----------------------------*/
/*----------------------------
 Button
----------------------------*/
/*----------------------------
 Login Form
----------------------------*/
/*----------------------------
 Input
----------------------------*/
/*----------------------------
 Homepage
----------------------------*/
/*----------------------------
 Navigation
----------------------------*/
/*----------------------------
 Table
----------------------------*/
/*----------------------------
 Icons
----------------------------*/
/*----------------------------
 Text
----------------------------*/
/*----------------------------
 Popup
----------------------------*/
/*----------------------------
 Confirmation
----------------------------*/
/*----------------------------
 Font Base
----------------------------*/
/*----------------------------
 Media Query
----------------------------*/
/*----------------------------
 Headers
----------------------------*/
/*----------------------------
 Button
----------------------------*/
/*----------------------------
 Login Form
----------------------------*/
/*----------------------------
 Input
----------------------------*/
/*----------------------------
 Homepage
----------------------------*/
/*----------------------------
 Navigation
----------------------------*/
/*----------------------------
 Table
----------------------------*/
/*----------------------------
 Icons
----------------------------*/
/*----------------------------
 Text
----------------------------*/
/*----------------------------
 Popup
----------------------------*/
/*----------------------------
 Confirmation
----------------------------*/
html,
body {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  width: 100%;
  height: 100%; }

/*----------------------------
 Text Input
----------------------------*/
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-outline-radius: 7px;
  -khtml-outline-radius: 7px;
  -moz-outline-radius: 7px;
  -ms-outline-radius: 7px;
  -o-outline-radius: 7px;
  outline-radius: 7px; }
  input[disabled][type="text"],
  input[disabled][type="email"],
  input[disabled][type="date"],
  input[disabled][type="password"] {
    background-color: #f0f0f0; }

/*----------------------------
 Textarea
----------------------------*/
textarea {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-outline-radius: 7px;
  -khtml-outline-radius: 7px;
  -moz-outline-radius: 7px;
  -ms-outline-radius: 7px;
  -o-outline-radius: 7px;
  outline-radius: 7px; }
  textarea[disabled] {
    background-color: #f0f0f0; }

/*----------------------------
 Textarea
----------------------------*/
select {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  height: 2em;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  select option {
    min-height: 2em; }
  select[disabled] {
    background-color: #f0f0f0; }

/*----------------------------
 Table
----------------------------*/
table td, table th {
  padding: 10px;
  border: 1px solid #cccccc;
  vertical-align: middle; }

table thead tr {
  background-color: #1e4c77;
  color: #ffffff; }

table tbody tr {
  background-color: #ffffff; }
  table tbody tr:nth-child(2n) {
    background-color: #e7f1f9; }

@media (max-width: 699px) {
  table {
    width: 100%; }
    table thead {
      display: none; }
    table tbody, table tr, table th, table td {
      display: block; }
    table th, table td {
      border: 0;
      border-bottom: 1px dotted #cccccc;
      padding: 13px 5px; }
      table th:last-child, table td:last-child {
        border-bottom: 0; }
    table tbody tr {
      margin-bottom: 50px;
      width: 100%;
      border: 1px solid #cccccc;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 10px; }
      table tbody tr:nth-child(2n) {
        background-color: #ffffff; }
    table tbody td:before {
      content: attr(data-label);
      display: block;
      color: #0f70bd;
      font-weight: bold;
      margin-bottom: 4px;
      float: left;
      clear: both; }
    table tbody td.element-table-wrap:before {
      float: none;
      clear: none; }
    table tbody td {
      text-align: right;
      display: block;
      position: relative; }
    table tbody td.element-table-wrap {
      text-align: left; } }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*----------------------------
 Font Base
----------------------------*/
/*----------------------------
 Media Query
----------------------------*/
/*----------------------------
 Headers
----------------------------*/
/*----------------------------
 Button
----------------------------*/
/*----------------------------
 Login Form
----------------------------*/
/*----------------------------
 Input
----------------------------*/
/*----------------------------
 Homepage
----------------------------*/
/*----------------------------
 Navigation
----------------------------*/
/*----------------------------
 Table
----------------------------*/
/*----------------------------
 Icons
----------------------------*/
/*----------------------------
 Text
----------------------------*/
/*----------------------------
 Popup
----------------------------*/
/*----------------------------
 Confirmation
----------------------------*/
/*----------------------------
 Font Base
----------------------------*/
/*----------------------------
 Media Query
----------------------------*/
/*----------------------------
 Headers
----------------------------*/
/*----------------------------
 Button
----------------------------*/
/*----------------------------
 Login Form
----------------------------*/
/*----------------------------
 Input
----------------------------*/
/*----------------------------
 Homepage
----------------------------*/
/*----------------------------
 Navigation
----------------------------*/
/*----------------------------
 Table
----------------------------*/
/*----------------------------
 Icons
----------------------------*/
/*----------------------------
 Text
----------------------------*/
/*----------------------------
 Popup
----------------------------*/
/*----------------------------
 Confirmation
----------------------------*/
/*----------------------------
 Button
----------------------------*/
.module-button {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  padding: 8px 20px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  background-color: #215382;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#215382), to(#2a6aa6));
  background-image: -webkit-linear-gradient(top, #215382, #2a6aa6);
  background-image: -moz-linear-gradient(top, #215382, #2a6aa6);
  background-image: -ms-linear-gradient(top, #215382, #2a6aa6);
  background-image: -o-linear-gradient(top, #215382, #2a6aa6);
  background-image: linear-gradient(top, #215382, #2a6aa6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#215382', endColorStr='#2a6aa6');
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-outline-radius: 20px;
  -khtml-outline-radius: 20px;
  -moz-outline-radius: 20px;
  -ms-outline-radius: 20px;
  -o-outline-radius: 20px;
  outline-radius: 20px; }
  .module-button:hover {
    background-color: #64a0d8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#64a0d8), to(#88b6e1));
    background-image: -webkit-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: -moz-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: -ms-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: -o-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: linear-gradient(top, #64a0d8, #88b6e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#64a0d8', endColorStr='#88b6e1'); }

.module-button.m-btn-clear {
  padding: 0;
  color: #000000;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-outline-radius: 0;
  -khtml-outline-radius: 0;
  -moz-outline-radius: 0;
  -ms-outline-radius: 0;
  -o-outline-radius: 0;
  outline-radius: 0;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255, 255, 255, 0)', endColorStr='rgba(255, 255, 255, 0)'); }

.module-button.m-btn-alert {
  color: #ffffff;
  background-color: #862524;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#862524), to(#af2f2e));
  background-image: -webkit-linear-gradient(top, #862524, #af2f2e);
  background-image: -moz-linear-gradient(top, #862524, #af2f2e);
  background-image: -ms-linear-gradient(top, #862524, #af2f2e);
  background-image: -o-linear-gradient(top, #862524, #af2f2e);
  background-image: linear-gradient(top, #862524, #af2f2e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#862524', endColorStr='#af2f2e'); }
  .module-button.m-btn-alert:hover {
    background-color: #d76d6c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d76d6c), to(#e39493));
    background-image: -webkit-linear-gradient(top, #d76d6c, #e39493);
    background-image: -moz-linear-gradient(top, #d76d6c, #e39493);
    background-image: -ms-linear-gradient(top, #d76d6c, #e39493);
    background-image: -o-linear-gradient(top, #d76d6c, #e39493);
    background-image: linear-gradient(top, #d76d6c, #e39493);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d76d6c', endColorStr='#e39493'); }

.module-button.m-btn-plain {
  color: #333;
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ccc));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #ccc);
  background-image: -moz-linear-gradient(top, #f9f9f9, #ccc);
  background-image: -ms-linear-gradient(top, #f9f9f9, #ccc);
  background-image: -o-linear-gradient(top, #f9f9f9, #ccc);
  background-image: linear-gradient(top, #f9f9f9, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', endColorStr='#ccc'); }
  .module-button.m-btn-plain:hover {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -ms-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(top, white, white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', endColorStr='white'); }

/*----------------------------
 Container
----------------------------*/
.module-container {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif; }

/*----------------------------
 Login Page
----------------------------*/
.module-login-page {
  width: 100%;
  height: 100%; }

/*----------------------------
 Home Page
----------------------------*/
.module-home-page {
  width: 100%;
  height: 100%; }
  .module-home-page .m-hmp-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 185px;
    height: 100%;
    z-index: 500; }
    @media (max-width: 699px) {
      .module-home-page .m-hmp-menu-container {
        width: 100%;
        height: 45px; } }
  .module-home-page .m-hmp-content-container1 {
    position: relative;
    z-index: 100;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    padding-left: 185px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 699px) {
      .module-home-page .m-hmp-content-container1 {
        padding-left: 0;
        padding-top: 45px; } }
  .module-home-page .m-hmp-content-container2 {
    width: auto;
    height: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 40px; }
    @media (max-width: 699px) {
      .module-home-page .m-hmp-content-container2 {
        padding: 20px 10px; } }
  .module-home-page .m-hmp-popup-container {
    position: relative;
    z-index: 10000; }

/*----------------------------
 Login Form
----------------------------*/
.module-login-form {
  width: 100%;
  height: 100%;
  background-color: #215382;
  display: flex;
  align-items: center;
  color: #ffffff; }
  .module-login-form .m-lgf-wrapper {
    margin: 0 auto;
    padding: 40px;
    background-color: #266096;
    width: 500px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 499px) {
      .module-login-form .m-lgf-wrapper {
        width: 90%; } }
  .module-login-form .m-lgf-error {
    color: #f07776; }

/*----------------------------
 Navigation
----------------------------*/
.module-navigation {
  width: 100%;
  height: 100%;
  background-color: #1e4c77; }
  .module-navigation .m-nvg-button {
    color: #ffffff;
    width: 100%;
    padding: 17px 14px;
    text-align: left;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1e4c77;
    border-bottom: 1px solid #5999d5; }
    .module-navigation .m-nvg-button:hover, .module-navigation .m-nvg-button:focus {
      background-color: #3380c8; }
    @media (max-width: 699px) {
      .module-navigation .m-nvg-button {
        height: 100%; } }
  .module-navigation .m-nvg-toggle {
    display: none;
    padding: 0 14px; }
    @media (max-width: 699px) {
      .module-navigation .m-nvg-toggle {
        display: block; } }
  .module-navigation .m-nvg-menu {
    display: block; }
    @media (max-width: 699px) {
      .module-navigation .m-nvg-menu {
        display: none; }
        .module-navigation .m-nvg-menu.m-nvg-mobile-menu-show {
          display: block; } }
  .module-navigation .m-nvg-icon {
    color: #aacbea;
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    text-align: center; }

/*----------------------------
 Data List
----------------------------*/
.module-data-list .m-dtl-title {
  font-size: 26px;
  margin-bottom: 20px; }

.module-data-list .m-dtl-hidden-cell {
  display: none; }

.module-data-list .m-dtl-no-wrap {
  white-space: nowrap; }

.module-data-list .m-dtl-button-list {
  display: inline-block;
  margin: 0 7px; }

.module-data-list .m-dtl-button-list-item {
  display: inline-block;
  margin-right: 18px; }
  .module-data-list .m-dtl-button-list-item:last-child {
    margin-right: 0; }

.module-data-list .m-dtl-add-icon {
  color: #0f70bd;
  font-size: 25px;
  vertical-align: middle;
  margin-right: 3px; }

.module-data-list .m-dtl-add-button {
  cursor: pointer;
  color: #0f70bd;
  margin: 10px 0; }

.module-data-list .m-dtl-edit-icon {
  color: #0f70bd;
  font-size: 25px;
  cursor: pointer; }

.module-data-list .m-dtl-delete-icon {
  color: #aa0000;
  font-size: 25px;
  cursor: pointer; }

.module-data-list .m-dtl-none {
  color: #999; }

/*----------------------------
 Data Editor
----------------------------*/
.module-data-editor .m-dte-title {
  font-size: 26px;
  margin-bottom: 20px; }

.module-data-editor .m-dte-field-container {
  margin-top: 20px; }

/*----------------------------
 Form Field
----------------------------*/
.module-form-field .m-frf-label {
  margin-bottom: 3px;
  display: block; }

.module-form-field .m-frf-text,
.module-form-field .m-frf-email,
.module-form-field .m-frf-password {
  width: 100%;
  display: block; }

.module-form-field .m-frf-textarea {
  width: 100%;
  height: 4em; }

.module-form-field .m-frf-error {
  color: #ff0000; }

/*----------------------------
 Popup
----------------------------*/
.module-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .module-popup .m-ppp-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .module-popup .m-ppp-wrapper1 {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  .module-popup .m-ppp-wrapper2 {
    display: table-cell;
    vertical-align: middle; }
  .module-popup .m-ppp-frame {
    width: 500px;
    position: relative;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    background-color: #ffffff; }
    @media (max-width: 499px) {
      .module-popup .m-ppp-frame {
        width: 90%; } }
  .module-popup .m-ppp-close-button {
    position: absolute;
    right: 17px;
    top: 13px; }
  .module-popup .m-ppp-close-icon {
    font-size: 20px;
    color: #0f5fa6; }
  .module-popup .m-ppp-content-container {
    width: 100%;
    overflow: auto; }

/*----------------------------
 Confirmation
----------------------------*/
.module-confirmation .m-cfm-message {
  font-size: 20px;
  margin-bottom: 40px; }

.module-confirmation .m-cfm-button-list {
  display: block;
  text-align: center;
  padding-bottom: 5px; }

.module-confirmation .m-cfm-button-list-item {
  display: inline-block; }

.module-confirmation .m-cfm-button-list-item:last-child {
  margin-left: 20px; }
