/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
html,
body {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #000000; }

/*----------------------------
 Text Input
----------------------------*/
input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-outline-radius: 7px;
  -khtml-outline-radius: 7px;
  -moz-outline-radius: 7px;
  -ms-outline-radius: 7px;
  -o-outline-radius: 7px;
  outline-radius: 7px; }
  input[disabled][type="text"],
  input[disabled][type="email"],
  input[disabled][type="password"] {
    background-color: #f0f0f0; }

/*----------------------------
 Table
----------------------------*/
table td, table th {
  padding: 10px;
  border: 1px solid #cccccc; }

table thead tr {
  background-color: #2a6aa6;
  color: #ffffff; }

table tbody tr {
  background-color: #ffffff; }
  table tbody tr:nth-child(2n) {
    background-color: #eef4fb; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*----------------------------
 Button
----------------------------*/
.module-button {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  display: inline-block;
  padding: 8px 20px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  background-color: #215382;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#215382), to(#2a6aa6));
  background-image: -webkit-linear-gradient(top, #215382, #2a6aa6);
  background-image: -moz-linear-gradient(top, #215382, #2a6aa6);
  background-image: -ms-linear-gradient(top, #215382, #2a6aa6);
  background-image: -o-linear-gradient(top, #215382, #2a6aa6);
  background-image: linear-gradient(top, #215382, #2a6aa6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#215382', endColorStr='#2a6aa6');
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-outline-radius: 20px;
  -khtml-outline-radius: 20px;
  -moz-outline-radius: 20px;
  -ms-outline-radius: 20px;
  -o-outline-radius: 20px;
  outline-radius: 20px; }
  .module-button:hover {
    background-color: #64a0d8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#64a0d8), to(#88b6e1));
    background-image: -webkit-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: -moz-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: -ms-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: -o-linear-gradient(top, #64a0d8, #88b6e1);
    background-image: linear-gradient(top, #64a0d8, #88b6e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#64a0d8', endColorStr='#88b6e1'); }

.module-button.m-btn-clear {
  padding: 0;
  color: #000000;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255, 255, 255, 0)', endColorStr='rgba(255, 255, 255, 0)'); }

/*----------------------------
 Container
----------------------------*/
.module-container {
  font-family: "Lato", sans-serif; }

/*----------------------------
 Login Page
----------------------------*/
/*----------------------------
 Login Form
----------------------------*/
.module-login-form {
  background-color: #f0f0f0; }
  .module-login-form .m-lgf-wrapper {
    margin: 0 auto;
    padding: 50px 30px; }
  .module-login-form .m-lgf-title {
    font-size: 38px;
    margin-bottom: 30px; }
  .module-login-form .m-lgf-field-container {
    margin-bottom: 20px; }
  .module-login-form .m-lgf-label {
    display: none; }
  .module-login-form .m-lgf-input {
    width: 100%; }
  .module-login-form .m-lgf-error-container {
    margin-bottom: 20px; }
  .module-login-form .m-lgf-error {
    color: #ff0000; }

/*----------------------------
 User List
----------------------------*/
.module-user-list {
  width: 100%;
  overflow: auto; }
  .module-user-list .m-usl-title {
    font-size: 26px;
    margin-bottom: 20px; }
  .module-user-list .m-usl-table {
    width: 100%; }
  .module-user-list .m-usl-hidden-cell {
    display: none; }
  .module-user-list .m-usl-center {
    text-align: center; }
  .module-user-list .m-usl-add-icon {
    color: #3c9d0f;
    font-size: 20px; }
  .module-user-list .m-usl-add-button {
    cursor: pointer;
    color: #3c9d0f;
    margin: 10px 0; }
  .module-user-list .m-usl-edit-icon {
    color: #3c9d0f;
    font-size: 20px;
    cursor: pointer; }
  .module-user-list .m-usl-delete-icon {
    color: #aa0000;
    font-size: 20px;
    cursor: pointer; }

/*----------------------------
 User Editor
----------------------------*/
.module-user-editor .m-ued-title {
  font-size: 26px;
  margin-bottom: 20px; }

.module-user-editor .m-ued-field-container {
  margin-top: 20px; }

.module-user-editor .m-ued-input {
  width: 100%; }

.module-user-editor .m-ued-error {
  color: #ff0000; }

/*----------------------------
 Popup
----------------------------*/
.module-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .module-popup .m-ppp-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .module-popup .m-ppp-wrapper1 {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  .module-popup .m-ppp-wrapper2 {
    display: table-cell;
    vertical-align: middle; }
  .module-popup .m-ppp-frame {
    width: 500px;
    position: relative;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    background-color: #ffffff; }
    @media (max-width: 499px) {
      .module-popup .m-ppp-frame {
        width: 90%; } }
  .module-popup .m-ppp-close-button {
    position: absolute;
    right: 17px;
    top: 13px; }
  .module-popup .m-ppp-close-icon {
    font-size: 20px;
    color: #2a6aa6; }
  .module-popup .m-ppp-content-container {
    width: 100%;
    overflow: auto; }
