@import "mixins";
@import "variables";

/*----------------------------
 Header Footer Layout
----------------------------*/
.module-header-footer-layout {

    .m-hfl-header {
        padding: 130px 40px 40px;
        position: relative;
        overflow: hidden;
    }

    .m-hfl-header-link {
        font-size: 53px;
        color: $color-default-font;
        text-decoration: none;

        &:hover {
            @include opacity(0.7);
        }
    }

    .m-hfl-body {

    }

    .m-hfl-footer {
        font-size: 14px;
        padding: 40px 40px 40px;
    }
}

/*----------------------------
 Blog Layout
----------------------------*/
.module-blog-layout {
    display: flex;
    align-items: stretch;

    @include media-phone {
        flex-wrap: wrap;
    }

    .m-bll-main {
        width: 100%;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        @include media-phone {
            border-bottom: 0;
        }
    }

    .m-bll-section {
        padding: 45px 40px 50px;
        border-bottom: 1px solid #cccccc;

        &:last-child {
            border-bottom: 0;
        }

        &.m-bll-short-section {
            padding: 20px 40px;
        }
    }

    .m-bll-sidebar {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;

        @include media-phone {
            width: 100%;
            border-left: 0;
            border-top: 1px solid #cccccc;
        }
    }
}

/*----------------------------
 Error Page
----------------------------*/
.module-error-page {
    padding: 100px 40px;
    font-size: 26px;
    background-color: #f0f0f0;
}

/*----------------------------
 Post List
----------------------------*/
.module-post-list {
    .m-psl-post-section {
        border-bottom: 1px solid #cccccc;

        &:last-child {
            border-bottom: 0;
        }
    }
}

/*----------------------------
 Category List
----------------------------*/
.module-category-list {
    font-family: 'Quattrocento', serif;

    .m-ctl-title {
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .m-ctl-list {
    }

    .m-ctl-list-item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .m-ctl-link {
        color: $color-default-font;
        white-space: nowrap;
    }
}

/*----------------------------
 pagination
----------------------------*/
.module-pagination {
    .m-pgn-list {
        display: flex;
        justify-content: space-around;
    }

    .m-pgn-list-item {
        display: inline-block;
        width: 100%;
    }

    .m-pgn-prev {
        text-align: left;
    }

    .m-pgn-next {
        text-align: right;
    }

    .m-pgn-link {
        color: $color-default-font;
        white-space: nowrap;
        font-size: 16px;
    }
}

/*----------------------------
 Post
----------------------------*/
.module-post {
    font-family: 'Quattrocento', serif;

    .m-pst-title {
        font-size: 36px;
        margin-bottom: 44px;
    }

    .m-pst-date {
        font-size: 15px;
        margin-bottom: 10px;
        display: block;
    }

    .m-pst-author {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .m-pst-category {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .m-pst-tag-container {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .m-pst-tags {
        display: inline-block;
    }

    .m-pst-tag {
        display: inline-block;
        &:after {
            content: ", ";
        }
        &:last-child:after {
            content: '';
        }
    }

    .m-pst-content {
        margin-top: 40px;
    }
}

/*----------------------------
 Article
----------------------------*/
.module-article {
    font-size: 18px;
    line-height: 1.5em;

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 24px;
    }

    h5, h6 {
        font-size: 20px;
    }

}