@import "../mixins";
@import url(https://fonts.googleapis.com/css?family=Candal|Oxygen:400,700|Lora:400,700|Source+Code+Pro:400,700);

/*==================================
 Variables
===================================*/

/*----------------------------
 Font Base
----------------------------*/
$font-family-default: Helvetica, sans-serif;
$font-size-base: 16px;
$color-default-font: #000000;

/*----------------------------
 Width
----------------------------*/
$max-width: 880px;


/*----------------------------
 Media Query
----------------------------*/
$device-desktop-width: 700px;


/*----------------------------
 Utils
----------------------------*/
$border-color: #cccccc;
$menu-title-color: #000000;
$error-page-bg-color: #f0f0f0;
$link-color: #496900;
$body-background-color: #dee4ca;

/*==================================
 Base Classes
===================================*/

/*----------------------------
 Text Style (Base Class)
----------------------------*/
.text-style {
    font-family: 'Lora', serif;
    color: $color-default-font;
    font-size: $font-size-base;
    line-height: 1.2;
}

/*----------------------------
 Link Style (Base Class)
----------------------------*/
.link-style {
    color: $link-color;
    text-decoration: none;

    &:hover {
        @include opacity(0.7);
    }
}