@import "../mixins";
@import "../reset";
@import "./_default-shared";

/*----------------------------
 Header Footer Layout
----------------------------*/
body {
    background-color: $body-background-color;
}

/*----------------------------
 Header Footer Layout
----------------------------*/
.module-header-footer-layout {

    @extend .text-style;
    margin: 0 auto;
    max-width: $max-width;

    .m-hfl-header {
        padding: 130px 40px 40px;
        position: relative;
        overflow: hidden;
    }

    .m-hfl-header-link {
        font-size: 53px;
        color: $color-default-font;
        text-decoration: none;

        &:hover {
            @include opacity(0.7);
        }
    }

    .m-hfl-body {

    }

    .m-hfl-footer {
        font-size: 14px;
        padding: 40px 40px 60px;
    }
}

/*----------------------------
 Blog Layout
----------------------------*/
.module-blog-layout {
    @extend .text-style;

    @include media-phone {

    }

    .m-bll-main {
        width: 100%;

        @include media-phone {
            border-bottom: 0;
        }
    }
}


/*----------------------------
 Section
----------------------------*/
.module-section {
    @extend .text-style;
    padding: 45px 40px 50px;

    &:last-child {
        border-bottom: 0;
    }

    &.m-sct-short-section {
        padding: 20px 40px;
    }
}

/*----------------------------
 Error Page
----------------------------*/
.module-error-page {
    @extend .text-style;

    padding: 100px 40px;
    font-size: 26px;
    background-color: $error-page-bg-color;
}

/*----------------------------
 Post List
----------------------------*/
.module-post-list {
    @extend .text-style;

    .m-psl-post-section {
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}

/*----------------------------
 Name And Number List
----------------------------*/
.module-name-and-number-list {
    font-family: 'Quattrocento', serif;
    @extend .text-style;

    .m-nan-title {
        margin-bottom: 15px;
        color: $menu-title-color;
    }

    .m-nan-list {
    }

    .m-nan-list-item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .m-nan-link {
        @extend .link-style;
        white-space: nowrap;

        &:hover {
            @include opacity(0.7);
        }
    }
}

/*----------------------------
 pagination
----------------------------*/
.module-pagination {
    @extend .text-style;

    .m-pgn-list {
        display: flex;
        justify-content: space-around;
    }

    .m-pgn-list-item {
        display: inline-block;
        width: 100%;
    }

    .m-pgn-prev {
        text-align: left;
    }

    .m-pgn-next {
        text-align: right;
    }

    .m-pgn-link {
        @extend .link-style;
        white-space: nowrap;
        font-size: 16px;

        &:hover {
            @include opacity(0.7);
        }
    }
}
