<div class="module-name-and-number-list">
    <h3 class="m-nan-title">Categories</h3>
    <ul class="m-nan-list">
        {{#each this}}
            <li class="m-nan-list-item">
                <a class="m-nan-link" href="{{link}}">{{name}} ({{count}})</a>
            </li>
        {{/each}}
    </ul>
</div>