@import "mixins";
@import "variables";

html,
body {
    position: relative;
    font-family: $font-family-default;
    font-size: $font-size-base;
    color: $color-default-font;
    width: 100%;
    height: 100%;
}

/*----------------------------
 Text Input
----------------------------*/
%text-input {
    font-size: $font-size-base;
    font-family: $font-family-lato;
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid $color-border-plain;
    background-color: $color-text-input-bg;

    @include box-sizing();
    @include border-radius(7px);
    @include outline-radius(7px);


    &[disabled] {
        background-color: $color-text-input-bg-disabled;
    }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="password"] {
    @extend %text-input;
}


/*----------------------------
 Textarea
----------------------------*/
.element-datetime-field {

    .e-dtf-field-set {
        background-color: $color-background-unimportant;
        padding: 5px 6px;
        display: inline-block;
        margin-right: 10px;
        @include border-radius(5px);
    }

    .e-dtf-select-container {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    .e-dtf-label {
        display: inline-block;
        color: $color-unimportant;
        font-size: $font-size-unimportant;
        margin-top: 3px;
        margin-left: 1px;
    }

    .e-dtf-separator {
        vertical-align: top;
        display: inline-block;
        margin: 7px 5px 0 0;
    }

    .e-dtf-select {
        display: block;
    }
}


/*----------------------------
 Textarea
----------------------------*/
%textarea {
    font-size: $font-size-base;
    font-family: $font-family-lato;
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid $color-border-plain;
    background-color: $color-text-input-bg;

    @include box-sizing();
    @include border-radius(7px);
    @include outline-radius(7px);

    &[disabled] {
        background-color: $color-text-input-bg-disabled;
    }
}

textarea {
    @extend %textarea;
}


/*----------------------------
 Textarea
----------------------------*/
%select {
    font-size: $font-size-base;
    font-family: $font-family-lato;
    display: inline-block;
    height: 2em;
    border: 1px solid $color-border-plain;
    background-color: $color-text-input-bg;

    option {
        min-height: 2em;
    }

    @include box-sizing();
    //@include border-radius(7px);
    //@include outline-radius(7px);

    &[disabled] {
        background-color: $color-text-input-bg-disabled;
    }
}

select {
    @extend %select;
}


/*----------------------------
 Table
----------------------------*/
%table{
    td, th {
        padding: 10px;
        border: 1px solid $color-table-border-plain;
        vertical-align: middle;
    }

    thead tr {
        background-color: $color-table-calm-thead-bg;
        color: $color-table-calm-thead-text;
    }

    tbody tr {
        background-color: $color-table-calm-tbody-bg;

        &:nth-child(2n) {
            background-color: $color-table-calm-tbody-bg2;
        }
    }

    @include media-phone {
        width: 100%;

        thead {
            display: none;
        }

        tbody, tr, th, td {
            display: block;
        }

        th, td {
            border: 0;
            border-bottom: 1px dotted $color-table-border-plain;
            padding: 13px 5px;

            &:last-child {
                border-bottom: 0;
            }
        }

        tbody tr {
            margin-bottom: 50px;
            width: 100%;
            border: 1px solid $color-table-border-plain;
            @include box-sizing();
            padding: 0 10px;

            &:nth-child(2n) {
                background-color: $color-table-calm-tbody-bg;
            }
        }

        tbody td:before {
            content: attr(data-label);
            display: block;
            color: $color-sub-heading;
            font-weight: bold;
            margin-bottom: 4px;
            float: left;
            clear: both;
        }

        tbody td.element-table-wrap:before {
            float: none;
            clear: none;
        }

        tbody td {
            text-align: right;
            display: block;
            position: relative;
        }

        tbody td.element-table-wrap {
            text-align: left;
        }
    }
}

table {
    @extend %table;
}