@import "mixins";
@import "variables";

/*----------------------------
 Button
----------------------------*/
.module-button {
    font-size: $font-size-base;
    font-family: $font-family-lato;
    display: inline-block;
    padding: 8px 20px;
    border: 0;
    color: $color-btn-calm-text;
    cursor: pointer;
    @include background-gradient(
            $color-btn-calm-bg-start,
            $color-btn-calm-bg-end);
    @include box-sizing();
    @include border-radius(20px);
    @include outline-radius(20px);

    &:hover {
        @include background-gradient(
                $color-btn-calm-hover-bg-start,
                $color-btn-calm-hover-bg-end);
    }
}

.module-button.m-btn-clear {
    padding: 0;
    color: $color-default-font;
    @include background-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0))
}

.module-button.m-btn-alert {
    @include background-gradient(
            $color-btn-alert-bg-start,
            $color-btn-alert-bg-end);

    &:hover {
        @include background-gradient(
                $color-btn-alert-hover-bg-start,
                $color-btn-alert-hover-bg-end);
    }
}

/*----------------------------
 Container
----------------------------*/

.module-container {
    font-family: $font-family-lato;
}

/*----------------------------
 Login Page
----------------------------*/

.module-login-page {
    //width: 100%;
    //height: 100%;
}

/*----------------------------
 Login Form
----------------------------*/

.module-login-form {
    background-color: $color-bg-plain;

    .m-lgf-wrapper {
        margin: 0 auto;
        padding: 50px 30px;
    }

    .m-lgf-title {
        font-size: $font-size-header;
        margin-bottom: 30px;
    }

    .m-lgf-field-container {
        margin-bottom: 20px;
    }

    .m-lgf-label {
        display: none;
    }

    .m-lgf-input {
        width: 100%;
    }

    .m-lgf-error-container {
        margin-bottom: 20px;
    }

    .m-lgf-error {
        color: $color-error-message;
    }

}

/*----------------------------
 User List
----------------------------*/

.module-user-list {
    width: 100%;
    overflow: auto;

    .m-usl-title {
        font-size: $font-size-sub-header;
        margin-bottom: 20px;
    }

    .m-usl-table {
        width: 100%;
    }

    .m-usl-hidden-cell {
        display: none;
    }

    .m-usl-center {
        text-align: center;
    }

    .m-usl-add-icon {
        color: $color-icon-add;
        font-size: 20px;
    }

    .m-usl-add-button {
        cursor: pointer;
        color: $color-icon-add;
        margin: 10px 0;
    }

    .m-usl-edit-icon {
        color: $color-icon-edit;
        font-size: 20px;
        cursor: pointer;
    }

    .m-usl-delete-icon {
        color: $color-icon-delete;
        font-size: 20px;
        cursor: pointer;
    }
}


/*----------------------------
 User Editor
----------------------------*/

.module-user-editor {

    .m-ued-title {
        font-size: $font-size-sub-header;
        margin-bottom: 20px;
    }

    .m-ued-field-container {
        margin-top: 20px;
    }

    .m-ued-label {
        //display: none;
    }

    .m-ued-input {
        width: 100%;
    }

    .m-ued-error {
        color: $color-error-message;
    }
}


/*----------------------------
 Category List
----------------------------*/

.module-category-list {
    width: 100%;
    overflow: auto;

    .m-cgl-title {
        font-size: $font-size-sub-header;
        margin-bottom: 20px;
    }

    .m-cgl-table {
        width: 100%;
    }

    .m-cgl-hidden-cell {
        display: none;
    }

    .m-cgl-center {
        text-align: center;
    }

    .m-cgl-add-icon {
        color: $color-icon-add;
        font-size: 20px;
    }

    .m-cgl-add-button {
        cursor: pointer;
        color: $color-icon-add;
        margin: 10px 0;
    }

    .m-cgl-edit-icon {
        color: $color-icon-edit;
        font-size: 20px;
        cursor: pointer;
    }

    .m-cgl-delete-icon {
        color: $color-icon-delete;
        font-size: 20px;
        cursor: pointer;
    }
}


/*----------------------------
 Category Editor
----------------------------*/

.module-category-editor {

    .m-cge-title {
        font-size: $font-size-sub-header;
        margin-bottom: 20px;
    }

    .m-cge-field-container {
        margin-top: 20px;
    }

    .m-cge-label {
        //display: none;
    }

    .m-cge-input {
        width: 100%;
    }

    .m-cge-error {
        color: $color-error-message;
    }
}


/*----------------------------
 Popup
----------------------------*/

.module-popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .m-ppp-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $color-popup-background;
    }

    .m-ppp-wrapper1 {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .m-ppp-wrapper2 {
        display: table-cell;
        vertical-align: middle;
    }

    .m-ppp-frame {
        $frame-max-width: 500px;
        width: $frame-max-width;
        position: relative;
        z-index: 10;
        @include box-sizing();
        @include border-radius(10px);
        padding: 30px;
        margin: 30px auto;
        background-color: $color-popup-content-background;

        @media (max-width: #{$frame-max-width - 1px}) {
            width: 90%;
        }
    }

    .m-ppp-close-button {
        position: absolute;
        right: 17px;
        top: 13px;
    }

    .m-ppp-close-icon {
        font-size: 20px;
        color: $color-icon-close;
    }

    .m-ppp-content-container {
        width: 100%;
        //height: 200px;
        overflow: auto;
    }
}


/*----------------------------
 Confirmation
----------------------------*/

.module-confirmation {

    .m-cfm-message {
        font-size: $font-size-confirmation-message;
        margin-bottom: 40px;
    }

    .m-cfm-button-list {
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }

    .m-cfm-button-list-item {
        display: inline-block;
    }

    .m-cfm-button-list-item:last-child {
        margin-left: 20px;
    }

}