@import "mixins";
@import "variables";

.module-container {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: $font-family-lato;
}

.module-login-page {
    width: 100%;
    height: 100%;
}

.module-login-form {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $color-bg-plain;

    .m-lgf-wrapper {
        margin: 0 auto;
        padding: 50px 30px;
    }

    .m-lgf-title {
        font-size: $font-size-header;
        margin-bottom: 30px;
    }

    .m-lgf-field-container {
        margin-bottom: 20px;
    }

    .m-lgf-label {
        display: none;
    }

    .m-lgf-input {
        width: 100%;
    }

    .m-lgf-error-container {
        margin-bottom: 20px;
    }

    .m-lgf-error {
        color: $color-error-message;
    }

}

.module-user-list {

    .m-usl-title {
        font-size: $font-size-sub-header;
        margin-bottom: 20px;
    }

    .m-usl-table {
        width: 100%;
    }

    .m-usl-hidden-cell {
        display: none;
    }

    .m-usl-center {
        text-align: center;
    }

    .m-usl-add-icon {
        color: $color-icon-add;
        font-size: 20px;
    }

    .m-usl-add-button {
        cursor: pointer;
        color: $color-icon-add;
    }

    .m-usl-edit-icon {
        color: $color-icon-edit;
        font-size: 20px;
        cursor: pointer;
    }

    .m-usl-delete-icon {
        color: $color-icon-delete;
        font-size: 20px;
        cursor: pointer;
    }
}

.module-user-creator {

    .m-usc-title {
        font-size: $font-size-sub-header;
        margin-bottom: 20px;
    }

    .m-usc-field-container {
        margin-bottom: 20px;
    }

    .m-usc-label {
        //display: none;
    }

    .m-usc-input {
        width: 100%;
    }

    .m-usc-error {
        color: $color-error-message;
    }
}