@import "mixins";
@import "variables";

.module-container {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: $font-family-lato;
}

.module-login-form {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $color-bg-plain;

    .m-lgf-wrapper {
        width: 400px;
        margin: 0 auto;
        padding: 50px 30px;
    }

    .m-lgf-title {
        font-size: $font-size-header;
        margin-bottom: 30px;
    }

    .m-lgf-field-container {
        margin-bottom: 20px;
    }

    .m-lgf-label {
        display: none;
    }

    .m-lgf-input {
        width: 200px;
    }

    .m-lgf-checkbox-label {
        cursor: pointer;
    }

}

.module-user-list {
    .m-usl-hidden-cell {
        display: none;
    }

    .m-usl-trash-icon {
        color: $color-icon-trash;
        font-size: 20px;
        cursor: pointer;
    }
}

.module-user-creator {

    .m-usc-label {
        display: none;
    }

    .m-usc-input {
        width: 120px;
        margin-right: 10px;
    }
}