@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

$font-family-default: Helvetica, sans-serif;
$font-family-lato: 'Lato', sans-serif;
$font-color-default: #000000;

$font-size-base: 16px;
$font-size-header: 38px;
$font-size-sub-header: 26px;

$color-btn-calm-text: #ffffff;
$color-btn-calm-bg-start: #215382;
$color-btn-calm-bg-end: #2a6aa6;
$color-btn-calm-hover-bg-start: lighten($color-btn-calm-bg-start, 30%);
$color-btn-calm-hover-bg-end: lighten($color-btn-calm-bg-end, 30%);

$color-bg-plain: #f0f0f0;
$color-border-plain: #cccccc;

$color-table-calm-thead-bg: #2a6aa6;
$color-table-calm-thead-text: #ffffff;
$color-table-calm-tbody-bg: #ffffff;
$color-table-calm-tbody-bg2: lighten($color-table-calm-thead-bg, 55%);

$color-icon-add: #3c9d0f;
$color-icon-edit: #3c9d0f;
$color-icon-delete: #aa0000;
$color-error-message: #ff0000;
