{{!< ../../layouts/default}}

{{#contentFor "page-scripts"}}
    <script src="/assets/js/home.js"></script>
{{/contentFor}}

<div data-react="navigation"></div>
<div data-react="user-list"></div>
<div data-react="user-editor"></div>
