{{!< ../../layouts/default}}

{{#contentFor "page-scripts"}}
    <script src="/assets/main/home.js"></script>
{{/contentFor}}

<div data-react="navigation"></div>
<div data-react="main-content-container"></div>
<div data-react="popup-container"></div>
