{{!< ../../layouts/admin/default}}

{{#contentFor "page-title"}}WeblogJS Admin{{/contentFor}}

{{#contentFor "page-styles"}}
    {{> admin/common-styles}}
{{/contentFor}}

{{#contentFor "page-scripts"}}
    {{> admin/common-scripts}}
    <script src="/admin/assets/index.js"></script>
{{/contentFor}}

<div class="module-home-page">
    <div class="m-hmp-menu-container" data-react="navigation"></div>
    <div class="m-hmp-content-container1">
        <div class="m-hmp-content-container2">
            <div class="m-hmp-location-bar-container"
                 data-react="location-bar-container"></div>
            <div data-react="main-content-container"></div>
        </div>
    </div>
    <div class="m-hmp-popup-container" data-react="popup-container"></div>
</div>
