{{!< ../../layouts/default}}

{{#contentFor "page-scripts"}}
    <script src="/assets/js/login.js"></script>
{{/contentFor}}

<form class="module-login-form" method="post">
    <div class="m-lgf-wrapper">
        <h1 class="m-lgf-title">WeblogJS Admin Site</h1>

        <div class="m-lgf-field-container">
            <label for="inputEmail3" class="m-lgf-label">Email</label>
            <input type="email" class="m-lgf-input" id="inputEmail" placeholder="Email" name="email" required
                   autofocus>
        </div>
        <div class="m-lgf-field-container">
            <label for="inputPassword3" class="m-lgf-label">Password</label>
            <input type="password" class="m-lgf-input" id="inputPassword" placeholder="Password" name="password"
                   required>
        </div>
        <div class="m-lgf-field-container">
            <label class="m-lgf-checkbox-label">
                <input type="checkbox"> Remember me
            </label>
        </div>
        <div class="m-lgf-field-container">
            <button type="submit">Sign in</button>
        </div>
    </div>
</form>
